vendor
node_modules
.git
.gitignore
*.log
.env
.vscode
.DS_Store
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
tests
.editorconfig
phpunit.xml
package.json
vite.config.js
